html {
  background-color: #fff
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

:root {
  --maingreen: #42622d;
  --mainbrown: #5c514a;
  --mainblue: #38669a;
  --mainwhite: #e1e4ea;
}

* {
  color: white;
  /* color: var(--mainblue); */
  /* background-color: var(--maingreen); */
}

main {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.7),
             2px 2px 2px rgba(0,0,0,0.7);

}

.color-green {
  color: var(--maingreen);
}

.background-green {
  background-color: var(--maingreen);
}

.color-brown {
  color: var(--mainbrown);
}

.background-brown {
  background-color: var(--mainbrown);
}

.color-blue {
  color: var(--mainblue);
}

.background-blue {
  background-color: var(--mainblue);
}

.color-white {
  color: var(--mainwhite);
}

.background-white {
  background-color: var(--mainwhite);
}

.font-small {
  font-size: 100%;
}
.font-med {
  font-size: 150%;
}
.font-large {
  font-size: 300%;
}

.nav-icon {
  padding: 47px 15px 47px 15px !important;
  margin: 40px 40px 0 490px !important;
  background-color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 590px) {
  .nav-icon {
    margin: 40px 40px 0 88% !important;
  }
}
@media only screen and (max-width: 492px) {
  .nav-icon {
    position: absolute;
    margin: 41px 0 0 75% !important;
  }
}
@media only screen and (max-width: 421px) {
  .nav-icon {
    position: absolute;
    margin: 41px 0 0 75% !important;
  }
}
@media only screen and (max-width: 357px) {
  .nav-icon {
    position: absolute;
    margin: 41px 0 0 250px !important;
  }
}

.nav-icon-button {
  color: black;
}

.hero {
  background-image: url("./assets/images/4k-video-hero.mp4");
  background-size: cover;
  background-position: center;
  height: 101vh;
}

.cursor-pointer {
  cursor: pointer;
}

.title {
  padding-left: 3%;
}
.nav-items {
  padding: 0 30px 0 0;
}

.indent {
  margin-left: 20px;
}

.bump-down {
  margin-top: 30px;
}

.text-small {
  font-size: 80%;
}

.text-med {
  font-size: 15px;
}

.image-size {
  height: 150px;
  width: 285px;
}

.word-wrap {
  word-wrap: break-word;
}

@media only screen and (min-width: 601px) {
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    /* height: auto !important; */
    line-height: auto !important;
  }
}
@media only screen and (max-width: 992px) {
.hide-on-med-and-down {
    display: block !important;
  }
}
@media only screen and (max-width: 1208px) {
.hide-on-med-and-down {
    display: none !important;
  }
}
@media only screen and (min-width: 993px) {
nav a.sidenav-trigger {
    display: block;
  }
}
@media only screen and (min-width: 1209px) {
nav a.sidenav-trigger {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
.container {
    width: 50%;
    margin-left: 3%;
  }
}

@media only screen and (min-width: 768px) {
.container {
    width: 50%;
    margin-left: 3%;
  }
}