html {
  background-color: #fff
}

body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --maingreen: #42622d;
  --mainbrown: #5c514a;
  --mainblue: #38669a;
  --mainwhite: #e1e4ea;
}

* {
  color: black;
  /* color: var(--mainblue); */
  /* background-color: var(--maingreen); */
}

.color-green {
  color: var(--maingreen);
}

.background-green {
  background-color: var(--maingreen);
}

.color-brown {
  color: var(--mainbrown);
}

.background-brown {
  background-color: var(--mainbrown);
}

.color-blue {
  color: var(--mainblue);
}

.background-blue {
  background-color: var(--mainblue);
}

.color-white {
  color: var(--mainwhite);
}

.background-white {
  background-color: var(--mainwhite);
}

.font-small {
  font-size: 100%;
}
.font-med {
  font-size: 150%;
}
.font-large {
  font-size: 300%;
}

.nav-icon {
  /* padding: 0 7px 0 7px !important;
  margin: 154px 0 0 40px !important; */
  padding: 47px 15px 47px 15px !important;
  margin: 40px 0 0 510px !important;
  background-color: white;
}

.hero {
  background-image: url("./assets/images/4k-video-hero.mp4");
  background-size: cover;
  background-position: center;
  height: 101vh;
}

.cursor-pointer {
  cursor: pointer;
}

.title {
  padding-left: 3%;
}
.nav-items {
  padding: 0 30px 0 0;
}

.indent {
  margin-left: 20px;
}

.bump-down {
  margin-top: 30px;
}

.text-small {
  font-size: 80%;
}

.text-med {
  font-size: 15px;
}

.image-size {
  height: 150px;
  width: 285px;
}

.word-wrap {
  word-wrap: break-word;
}